@{
    ViewBag.Title = "Meistä";
}
<main aria-labelledby="title">
    <h2 id="title">@ViewBag.Title.</h2>
    <h3>@ViewBag.Message</h3>

    <p>
        Toimiva väyläverkko mahdollistaa Suomen hyvinvoinnin, kilpailukyvyn ja kestävän kasvun
        Väyläviraston strategia katsoo tulevaan ja mahdollistaa uudelle virastolle uudenlaiset toimintatavat.

        Väylävirasto on osaava tilaajaorganisaatio, joka vastaa tie-, rata- ja vesiväylistä sekä osallistuu liikennejärjestelmätyöhön edistääkseen kansalaisten sujuvaa liikkumista ja elinkeinoelämän tehokkaita kuljetuksia.

        Väyläomaisuutemme hallinta on jatkossa pitkäjänteisempää, ennakoivaa ja asiakastarpeisiin vastaavaa. Tietoon perustuva väylien kunnonhallinta ja vahva tilaajaosaaminen luovat perustan tehokkaalle ja vaikuttavalle väylänpidolle ja rakentamiselle. Asiakaslähtöisyys sekä päivittäisen turvallisuuden ja toimivuuden varmistaminen ovat toimintamme perusta.

        Väylävirasto on keskeinen rooli, kun vastaamme ilmastonmuutoksen vaikutuksiin väylänpidolla. Liikennejärjestelmäsuunnittelussa on nostettava keskiöön kestävää liikennettä ohjaavat ratkaisut. Väylien rakentamisen ja kunnossapidon ilmastovaikutuksiin on kiinnitettävä jatkossa vielä aiempaa enemmän huomiota, ja päästöjen vähentämistä on edistettävä myös väylänpidon keinoin.

        Väyläviraston toimintakulttuurin ytimen muodostavat henkilöstön kanssa yhteisesti sovitut arvot: luottamus, avoin yhteistyö ja uudistumiskykyinen asiantuntijuus. Näin haluamme toimia myös sidosryhmiemme ja asiakkaidemme kanssa.

        Arvomme ovat luottamus, uusiutuva asiantuntijuus ja avoin yhteistyö.
    </p>
</main>