@{
    ViewBag.Title = "Yhteistiedot";
}
<main aria-labelledby="title">
    <h2 id="title">@ViewBag.Title.</h2>
    <h3>@ViewBag.Message</h3>

    <address>
        Hallintakatu 1<br />
        Rovaniemi 65450<br />
        <abbr title="Phone">P:</abbr>
        040-1234567
    </address>

    <address>
        <strong>Asiakaspalvelu:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
        <strong>Myynti:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
    </address>
</main>