@{
    ViewBag.Title = "Home Page";
}

<main>
    <section class="row" aria-labelledby="aspnetTitle">
        <h1 id="title">TDB APP</h1>
        <p class="lead">TDB App Tilaushallinnan ykkönen!</p>
        <p><a href="https://www.tdbgroup.org/about-us/" class="btn btn-primary btn-md">Meistä &raquo;</a></p>
    </section>

    <div class="row">
        <section class="col-md-4" aria-labelledby="gettingStartedTitle">
            <h2 id="gettingStartedTitle">Aloitus</h2>
            <p>
                TDB App Tarjoaa tehokkaan ja mallipohjaisen tavan rakentaa dynaamisia tietohallinnan työkaluja, 
                mikä mahdollistaa selkeän vastuualueiden erottelun ja antaa täyden hallinnan merkintäkielen suhteen, 
                mikä takaa nautinnollisen ja ketterän kehitysprosessin.
            </p>
            <p><a class="btn btn-outline-dark" href="https://www.tdbgroup.org/annual-reports/">Lisää &raquo;</a></p>
        </section>
        <section class="col-md-4" aria-labelledby="librariesTitle">
            <h2 id="librariesTitle">Tietokanta sovellus</h2>
            <p>TDB App antaa sinulle toimintavarman tietokantasovelluksen, joka ei petä ikinä.  </p>
            <p><a class="btn btn-outline-dark" href="https://www.tdbgroup.org/projects/">Lisää &raquo;</a></p>
        </section>
        <section class="col-md-4" aria-labelledby="hostingTitle">
            <h2 id="hostingTitle">Ketterä menetelmä</h2>
            <p>Voit helposti muokata tietokantaa omien tarpeittesi mukaan. Koko organisaatio hyötyy tästä silmien räpäytyksessä. </p>
            <p><a class="btn btn-outline-dark" href="https://www.tdbgroup.org/opportunities/">Lisää &raquo;</a></p>
        </section>
    </div>
</main>